@model FacultyModel
@{
    ViewData["Title"] = "Crear facultad";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
            <h1>Crear facultad</h1>
            <p>Rellene el forumlario para crear una nueva facultad</p>
            <form asp-action="Create" asp-controller="Faculties" method="post">
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <fieldset>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" autofocus />
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Campus" class="form-label"></label>
                        <input asp-for="Campus" class="form-control" />
                        <span asp-validation-for="Campus" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="InternalId" class="form-label"></label>
                        <input asp-for="InternalId" class="form-control" />
                        <span asp-validation-for="InternalId" />
                    </div>
                </fieldset>
                <div class="form-footer mt-3">
                    <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-alt-circle-left"></span> Regresar al listado</a>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span> Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>