@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1><span class="fa fa-ban"></span> Acceso denegado</h1>

<p>Usted no tiene acceso al recurso solicitado.</p>
<small>Consulte a los administradores del sistema para más información.</small>