@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="text-center m-5">
    <img src="~/img/site/access_denied_icon.svg" width="300" />

    <h3 class="text-danger">Acceso denegado</h3>
    <p>Usted no tiene acceso al recurso solicitado.</p>
    <small>Consulte a los administradores del sistema para más información.</small>
</div>