@model LoginViewModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

@section PageStyles {
    <style>
        main, #main-container {
            background-color: transparent;
            box-shadow: none;
        }

        .login-container {
            background-color: white;
        }
    </style>
}

<div class="login-container">
    <div class="login-image">
        <img src="/img/site/login_cover.svg" />
    </div>
    <div class="login-form">
        <div>
            <h2>Iniciar sesión</h2>
            <p>Escriba sus credenciales para iniciar sesión</p>
            <hr />
        </div>
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="username-addon" style="min-width: 42px;"><span class="fa fa-at"></span></span>
                    <input asp-for="Email" class="form-control" aria-describedby="username-addon" autofocus />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="input-group mt-4">
                    <span class="input-group-text" id="password-addon" style="min-width: 42px;"><span class="fa fa-asterisk"></span></span>
                    <input asp-for="Password" class="form-control" aria-describedby="password-addon" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="login-form-bottom">
                <div class="form-check">
                    <input asp-for="RememberSession" class="form-check-input" type="checkbox" value="" id="RememberSessionCheckDefault">
                    <label class="form-check-label" for="RememberSessionCheckDefault">
                        Recordar sesión
                    </label>
                </div>
                
                <input asp-for="ReturnUrl" type="hidden" class="form-control" />
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}