<div class="modal fade" id="loading-modal" tabindex="-1" aria-labelledby="loading-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="loading-label"></h5>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-center m-5">
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>