@model string

<div class="noitems-placeholder">
    <img src="/img/site/scale.svg" />
    <div class="noitems-placeholder-text">
        <div>Nada que mostrar</div>
        <div>@Model</div>
    </div>
</div>