@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/site/logo.svg" width="150" class="m-5" />
    <h1 class="display-4">QC Universidad</h1>
    <p>Plataforma para el estudio de carga del parsonal docente universitario.</p>
</div>

<div class="icard-set">
    <div class="icard">
        <div class="icard-title"><span class="fa fa-warning"></span> Carga distribuida</div>
        <div class="icard-content">
            <div class="icard-value text-warning">
                1560 <span class="icard-value-mu">h</span>
            </div>
            <div class="icard-value-ref">
                2400 <span class="icard-value-mu">h</span>
            </div>
            <hr />
        </div>
        <div class="icard-footer">
            <p>Quedan <strong>15</strong> elmentos de carga por distribuir.</p>
        </div>
    </div>

    <div class="icard delay-1">
        <div class="icard-title"><span class="fa fa-info"></span> Profesores</div>
        <div class="icard-content">
            <div class="icard-value">
                34
            </div>
            <hr />
        </div>
        <div class="icard-footer">
            <p><a href="#"><span class="fa fa-link"></span> Ver listado de profesores del departamento</a></p>
        </div>
    </div>

    <div class="icard delay-2">
        <div class="icard-title"><span class="fa fa-exclamation"></span> Relación alumno profesor <strong>RAP</strong></div>
        <div class="icard-content">
            <div class="icard-value text-danger">
                16.2
            </div>
            <div class="icard-value-ref">
                12.5
            </div>
            <hr />
        </div>
        <div class="icard-footer">
            <p>Este indicador se encuentra deteriorado.</p>
        </div>
    </div>

    <div class="icard delay-3">
        <div class="icard-title"><span class="fa fa-info"></span> Carga del departamento</div>
        <div class="icard-content">
            <div class="icard-value text-warning">
                64 <span class="icard-value-mu">%</span>
            </div>
            <hr />
        </div>
        <div class="icard-footer">
            <p>Existe desaprovechamiento de la fuerza docente del departamento.</p>
        </div>
    </div>
</div>