@model IndexViewModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="mb-3 d-flex flex-column flex-sm-row gap-2 align-items-center text-center text-sm-start">
    <img src="/img/site/logo.svg" width="50" class="m-2" />
    <div class="d-flex flex-column">
        <div class="banner-title">Bienvenido a QC Universidad</div>
        <div class="banner-subtitle">Plataforma para la planificación y distribución de carga docente</div>
    </div>
</div>

<hr />

@if (Model.Department is not null)
{
    <div class="d-flex flex-column text-center text-sm-start mb-5">
        <div class="index-department-name">@Model.Department.Name</div>
        <div class="index-department-desc">@Model.Department.Description</div>
    </div>
}

<div id="global-statistics" class="text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p>Cargando estadísticas globales</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            LoadGlobalStatistics();
        });

        function LoadGlobalStatistics() {
            const statisticsDiv = document.getElementById("global-statistics");
            $.ajax({
                url: `/home/GetGlobalStatistics`,
                type: "GET",
                success: function (data) {
                    statisticsDiv.innerHTML = data;
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                    statisticsDiv.innerHTML = 'Error reciviendo estadísticas';
                }
            });
        }
    </script>
}