@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/site/logo.svg" width="150" class="m-5" />
    <h1 class="display-4">QC Universidad</h1>
    <p>Plataforma para el estudio de carga del parsonal docente universitario.</p>
</div>
