@{
    ViewData["Title"] = "Privacidad";
}

<div class="container-fluid">
    <div class="row">
        <img src="/img/site/banner.svg" class="img-fluid" />
    </div>
</div>

<h1>@ViewData["Title"]</h1>

<p>Bienvenidos a QC Universidad, la plataforma para la planificación, distribución y cálculo de carga del personal docente universitario.</p>
