@model CreateDepartmentModel
@{
    ViewData["Title"] = "Nuevo departamento";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
            <h1>Crear departamento</h1>
            <p>Rellene el forumlario para crear un nuevo departamento</p>
            <hr />
            <form asp-action="Create" asp-controller="Departments" method="post">
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <fieldset>
                    <div class="mb-3">
                        <label for="FacultyId" class="form-label">Seleccionar facultad</label>
                        <select asp-for="FacultyId" class="form-select select-faculty" aria-label="Seleccionar facultad" onchange="LoadCareersSelect()" autofocus>
                            @foreach (var item in Model.Faculties)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input asp-for="IsStudyCenter" class="form-check-input" type="checkbox" />
                            <label asp-for="IsStudyCenter" class="form-check-label"></label>
                            <small><span class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Centro de estudios</small></div> <div>Define si el departamento es un centro de estudio e investigación.</div>"></span></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="InternalId" class="form-label"></label>
                        <input asp-for="InternalId" class="form-control" />
                        <span asp-validation-for="InternalId" />
                    </div>
                    <div id="career-select" class="mb-3">

                    </div>
                </fieldset>
                <div class="form-footer mt-3">
                    <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-alt-circle-left"></span> Regresar al listado</a>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span> Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.select-faculty').select2({
                placeholder: "Seleccione la facultad"
            });
            LoadCareersSelect();
        });

        function LoadCareersSelect() {
            const facultySelect = document.getElementById("FacultyId");
            let facultySelected = facultySelect.options[facultySelect.selectedIndex].value;
            facultySelect.disabled = true;
            $.ajax({
                url: `/departments/GetCareerSelectForFaculty?facultyId=${facultySelected}`,
                type: "GET",
                success: function (data) {
                    const careerSelectDiv = document.getElementById("career-select");
                    careerSelectDiv.innerHTML = data;
                    $('.select-career').select2({
                        placeholder: "Seleccione las carreras que atiende"
                    });
                    facultySelect.disabled = false;
                },
                error: function (xhr, status, error) {
                    facultySelect.disabled = false;
                    console.log(xhr, status, error);
                }
            });
        }
    </script>
}