@model EditDepartmentModel
@{
    ViewData["Title"] = "Editar departamento";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
            <h1>Editar departamento</h1>
            <p>Actualize los datos del departamento en el formulario</p>
            <hr />
            <form asp-action="Edit" asp-controller="Departments" method="post">
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <fieldset>
                    <div class="mb-3">
                        <div class="col-sm-10">
                            <input asp-for="FacultyName" readonly class="form-control-plaintext">
                            <input asp-for="FacultyId" type="hidden" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="InternalId" class="form-label"></label>
                        <input asp-for="InternalId" class="form-control" />
                        <span asp-validation-for="InternalId" />
                    </div>
                    <div class="mb-3">
                        <select asp-for="SelectedCareers" class="form-control selected-careers" multiple aria-label="multiple select">
                            @foreach (var c in Model.Careers)
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        </select>
                    </div>
                </fieldset>
                <div class="form-footer mt-3">
                    <input asp-for="Id" type="hidden" />
                    <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-alt-circle-left"></span> Regresar al listado</a>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-disk"></span> Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('.selected-careers').select2({
            placeholder: "Seleccione las carreras"
        });
    </script>
}