@model PlanningIndexModel

@{
    ViewData["Title"] = "Planificación";

    bool planningItemCreated = (bool?)TempData["planItem-created"] ?? false;
    bool planningItemEdited = (bool?)TempData["planItem-edited"] ?? false;
    bool planningItemDeleted = (bool?)TempData["planItem-deleted"] ?? false;
}

@if (planningItemCreated)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-info-circle"></span> Elemento de planificación creado</strong> Se ha creado un nuevo elemento de planificación satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (planningItemEdited)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-pencil-square"></span> Elemento de planificación editado</strong> Se ha editado un elemento de planificación satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (planningItemDeleted)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-trash-can"></span> Elemento de planificación eliminado</strong> Se ha eliminado un elemento de planificación satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Planificación docente</h1>
<hr />
<div class="row mt-3 mb-3">
    <div class="col col-lg-3 col-sm-6 col-12">
        <label for="selectedSchoolarYear">Curso</label>
        <div class="d-flex flex-row align-items-center">
            <select asp-for="CourseSelected" class="form-select" aria-label="Seleccionar curso" id="selectedSchoolarYear">
                @foreach (var course in Model.Courses)
                {
                    <option value="@course.Id">@course.Denomination</option>
                }
            </select>
            <a class="link-info" id="syDetailsLink">
                <span class="fa fa-info-circle text-info m-2" id="courseDetails"></span>
            </a>
        </div>
    </div>
    <div class="col col-lg-3 col-sm-6 col-12">
        <label for="selectedPeriod">Período</label>
        <select class="form-select" aria-label="Seleccionar período" id="selectedPeriod">
            <option id="selectPeriodDefault">Seleccione un curso</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center" id="planningContent">
        <div class="spinner-grow m-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/popper/popper.min.js"></script>
    <script>
        const courses = '@Json.Serialize(Model.Courses)';
        var periodToSelect = '@(Model.PeriodSelected is null ? "" : Model.PeriodSelected.ToString())';
        var deleteModal = null;
        var requestingDelete = false;

        $(document).ready(function () {
            const coursesSelect = document.getElementById("selectedSchoolarYear");
            coursesSelect.onchange = CourseSelect;
            CourseSelect();
        });

        function LoadTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }

        function CallNewElementPage() {
            const periodsSelect = document.getElementById("selectedPeriod");
            let selected = periodsSelect.options[periodsSelect.selectedIndex].value;
            if (selected != null && selected != '') {
                location.href = "/planning/createplanningitem?periodId=" + selected;
            }
        }

        function PeriodSelected() {
            const periodsSelect = document.getElementById("selectedPeriod");
            let selected = periodsSelect.options[periodsSelect.selectedIndex].value;
            SetLoadingPlanning();

            $.ajax({
                url: `/planning/GetPlanningViewForPeriod?periodId=${selected}`,
                type: "GET",
                success: function (data) {
                    DisableLoadingPlanning();
                    const planningDetailsDiv = document.getElementById("planningContent");
                    planningDetailsDiv.innerHTML = data;
                    deleteModal = new bootstrap.Modal(document.getElementById('deletePlanItemModal'), { keyboard: true });
                    LoadTooltips();
                },
                error: function (xhr, status, error) {
                    DisableLoadingPlanning();
                    console.log(xhr, status, error);
                }
            });

            LoadTooltips();

            console.log("periods select changed", periodsSelect.selectedIndex, selected);
        }

        function CourseSelect() {
            ClearPeriodsSelect();

            const periodsSelect = document.getElementById("selectedPeriod");
            const coursesSelect = document.getElementById("selectedSchoolarYear");
            var selected = coursesSelect.options[coursesSelect.selectedIndex].value;

            let periods = Array.from(JSON.parse(courses)).filter(sy => sy.id == selected)[0];
            let coursePeriods = Array.from(JSON.parse(courses)).filter(sy => sy.id == selected)[0];
            let nodes = coursePeriods.periods.map(p => {
                let optionNode = document.createElement("option");
                optionNode.id = p.id;
                optionNode.value = p.id;
                let starts = new Date(p.starts);
                let ends = new Date(p.ends);
                optionNode.innerText = `(${p.orderNumber}) ${getStringDate(starts)} - ${getStringDate(ends)}`;
                if (periodToSelect != '' && p.id == periodToSelect) {
                    optionNode.selected = true;
                }
                return optionNode;
            });

            nodes.forEach(n => periodsSelect.appendChild(n));

            if (periodsSelect.children.length == 0) {
                let optionNode = document.createElement("option");
                optionNode.value = "none";
                optionNode.innerText = "No contiene períodos";
                optionNode.selected = true;
                periodsSelect.appendChild(optionNode);
                periodsSelect.disabled = true;
            } else {
                periodsSelect.disabled = false;
            }

            ClearCourseDetails();

            let coursesList = Array.from(JSON.parse(courses));
            let syselectedQuery = coursesList.filter(sy => sy.id == selected);
            if (syselectedQuery.length > 0) {
                let syselected = syselectedQuery[0];
                const detailsSpan = document.getElementById("courseDetails");
                detailsSpan.setAttribute("data-bs-toggle", "tooltip");
                detailsSpan.setAttribute("data-bs-html", "true");
                detailsSpan.setAttribute("title", `<div><small><span class='fa fa-info-circle'></span> Carrera</small></div> <div><b>${ syselected.career.name } (${GetYearNumber(syselected.careerYear)}) </b></div > <div><i>${ syselected.career.description } </i></div > <div><b>${ GetTeachingModality(syselected.teachingModality) } </b></div > `);

                const detailsLink = document.getElementById("syDetailsLink");
                detailsLink.setAttribute("href", "/Courses/Details/" + syselected.id);
            }

            periodsSelect.onchange = PeriodSelected;
            PeriodSelected();
        }

        function GetYearNumber(yearNumber) {
            switch (yearNumber) {
                case 1:
                    return "1er año";
                case 2:
                    return "2do año";
                case 3:
                    return "3er año";
                case 4:
                    return "4to año";
                case 5:
                    return "5to año";
                case 6:
                    return "6to año";
                case 7:
                    return "7to año";
                case 8:
                    return "8vo año";
                default:
                    return yearNumber;
            }
        }

        function GetTeachingModality(modality) {
            switch (modality) {
                case 0:
                    return "Curso regular diurno";
                case 1:
                    return "Curso por encuentros";
                case 2:
                    return "Curso a distancia";
                case 3:
                    return "Postgrado";
                case 4:
                    return "Maestría";
                case 5:
                    return "Doctorado";
                default:
                    return modality;
            }
        }

        function ClearPeriodsSelect() {
            // clear current periods
            const periodsSelect = document.getElementById("selectedPeriod");
            periodsSelect.innerHTML = "";
        }

        function ClearCourseDetails() {
            const detailsDiv = document.getElementById("courseDetails");
            detailsDiv.innerHTML = "";
        }

        function getStringDate(date) {
            let formatedDate = `${date.getDate() < 10 ? "0" + date.getDate() : date.getDate()}-${(date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)}-${date.getFullYear()}`;
            return formatedDate;
        }

        function CreateSpinnerNode() {
            let spinnerNode = document.createElement("div");
            spinnerNode.classList.add("spinner-grow");
            spinnerNode.classList.add("m-5");
            spinnerNode.role = "status";
            let spinnerSpan = document.createElement("span");
            spinnerSpan.classList.add("visually-hidden");
            spinnerSpan.innerText = "Loading...";
            spinnerNode.appendChild(spinnerSpan);
            return spinnerNode;
        }

        function SetLoadingPlanning() {
            const planningDetailsDiv = document.getElementById("planningContent");
            planningDetailsDiv.innerHTML = "";
            planningDetailsDiv.appendChild(CreateSpinnerNode());
            const periodsSelect = document.getElementById("selectedPeriod");
            periodsSelect.disabled = true;
            const coursesSelect = document.getElementById("selectedSchoolarYear");
            coursesSelect.disabled = true;
        }

        function DisableLoadingPlanning() {
            const planningDetailsDiv = document.getElementById("planningContent");
            planningDetailsDiv.innerHTML = "";
            const periodsSelect = document.getElementById("selectedPeriod");
            periodsSelect.disabled = false;
            const coursesSelect = document.getElementById("selectedSchoolarYear");
            coursesSelect.disabled = false;
        }

        function FilterChanged() {
            const subjectFilterSelect = document.getElementById("filterSubjects");
            let subjectSelected = subjectFilterSelect.options[subjectFilterSelect.selectedIndex].value;
            const typeFilterSelect = document.getElementById("activityFilter");
            let typeSelected = typeFilterSelect.options[typeFilterSelect.selectedIndex].innerText;
            let itemsRows = document.getElementById("planningItemsTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            let totalShowed = 0;
            for (let i = 0; i < itemsRows.length; i++) {
                let row = itemsRows[i];
                row.style.visibility = "visible";
                let allTd = row.getElementsByTagName("td");
                let subjectTd = allTd[0];
                let typeTd = allTd[1];
                if (((subjectSelected == "all") || (subjectTd.id == subjectSelected)) && ((typeSelected == "Todos") || (typeTd.innerText.indexOf(typeSelected) >= 0))) {
                    let totalHours = allTd[4].innerText;
                    totalShowed = totalShowed + parseFloat(totalHours);
                } else {
                    row.style.visibility = "collapse";
                }
            }
            let totalCell = document.getElementById("totalCell");
            totalCell.removeChild(totalCell.children[0]);
            let resultNode = document.createElement("b");
            resultNode.innerText = totalShowed;
            totalCell.appendChild(resultNode);
        }

        function RiseDeleteModal(id) {
            SetDeleteModalTextContent("¿Esta seguro que desea eliminar el elemento?");
            var button = document.getElementById("modal-delete-primarybutton");
            button.onclick = function () {
                SendDeletePlanItemRequest(id);
            };
            deleteModal.show();
        }

        function SendDeletePlanItemRequest(id) {
            if (!requestingDelete) {
                requestingDelete = true;
                HideCreateModalButtons();
                ShowCreateModalSpinner();
                var xhttp = new XMLHttpRequest();
                xhttp.open("DELETE", "/planning/DeletePlanningItem?id=" + id, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // Response
                        var response = this.responseText;
                        console.log(response);
                        deleteModal.hide();
                        location.reload();
                    }
                    requestingDelete = false;
                    ShowCreateModalButtons();
                    HideCreateModalSpinner();
                };
                xhttp.send();
            }
        }

        function SetDeleteModalTextContent(value) {
            var content = document.getElementById('modal-delete-content');
            content.innerHTML = value;
        }

        function HideCreateModalButtons() {
            var footer = document.getElementById('deleteModalFooter');
            var buttons = footer.getElementsByTagName("button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].hidden = true;
            }
        }

        function ShowCreateModalButtons() {
            var footer = document.getElementById('deleteModalFooter');
            var buttons = footer.getElementsByTagName("button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].hidden = false;
            }
        }

        function ShowCreateModalSpinner() {
            var spinner = document.getElementById("deleteModalLoadingSpinner");
            spinner.hidden = false;
        }

        function HideCreateModalSpinner() {
            var spinner = document.getElementById("deleteModalLoadingSpinner");
            spinner.hidden = true;
        }
    </script>
}