@model SchoolYearModel
@{
    ViewData["Title"] = "Editar año escolar";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
            <h1>Editar año escolar</h1>
            <p>Actualice los datos del año escolar en el formulario</p>
            <form asp-action="Edit" method="post">
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <fieldset>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" autofocus />
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input asp-for="Current" class="form-check-input" type="checkbox" />
                            <label asp-for="Current" class="form-check-label"></label>
                            <small><span class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Año escolar actual</small></div> <div>Define si este es el año escolar actual.</div><div><small>Si habilita esta opción este año escolar se convertirá en el actual desabilitando al que actualmente se encuentra en esa condición.</small></div>"></span></small>
                        </div>
                    </div>
                </fieldset>
                <div class="form-footer mt-3">
                    <input asp-for="Id" type="hidden" />
                    <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-alt-circle-left"></span> Regresar al listado</a>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-disk"></span> Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/popper/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            LoadTooltips();
        });

        function LoadTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }
    </script>
}