:root {
    --main-color: #512bd4;
    --text-color: #222020;
    --white: #ffffff;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-image: url('../img/site/qcu_bg.svg');
    background-clip: border-box;
    background-size: 500px;
}

body {
    margin-bottom: 80px;
    background-color: transparent;
    background-blend-mode: difference;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
}

p {
    color: var(--text-color);
}

small {
    font-size: 0.7rem;
}

thead, tfoot {
    color: var(--main-color);
}

main {
    padding: 15px;
    border-radius: 5px;
}

#main-container {
    background-color: white;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 5px;
}

footer {
    background-color: var(--main-color);
    color: white;
}

    footer * {
        color: white;
    }

a {
    text-decoration: none;
}

dt {
    color: var(--main-color);
}

dd {
    color: var(--text-color);
}

.login-container {
    display: grid;
    grid-template: "login-image login-form";
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 10px #ddd;
    min-width: 320px;
}

@media (max-width: 990px) {
    .login-container {
        grid-template: "login-image"
            "login-form";
    }
}

.login-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-area: login-image;
    background: url('../img/layout/login-cover.jpg') no-repeat;
    background-size: cover;
    min-width: 300px;
    min-height: 300px;
}

    .login-image > img {
        width: 200px;
    }

.login-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    grid-area: login-form;
    min-height: 400px;
    justify-content: center;
}

.login-form-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.no-items-notification {
    width: 400px;
    border: 1px solid #e5e5e5;
    padding: 25px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px #ccc;
    margin-top: 50px;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.profile-pic-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .profile-pic-preview > img {
        border-radius: 500px;
        margin-bottom: 20px;
        width: 130px;
    }

.media-selection-item {
    display: inline-flex;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
}

    .media-selection-item:hover {
        box-shadow: 1px 1px 5px #ccc;
        transition: 0.5s;
    }

.media-selection-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #bbb;
    border-right: 1px solid #ccc;
    font-weight: bold;
}

    .media-selection-number div:last-child {
        font-size: 32px;
    }

.media-selection-content {
    padding: 10px;
    width: 72%;
    overflow-wrap: break-word;
}

    .media-selection-content div:first-child {
        font-weight: bold;
    }

    .media-selection-content div:last-child {
        font-size: 12px;
    }

.media-selection-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 28px;
    color: #bbb;
    border-left: 1px solid #ccc;
}

.media-selection-preview img, .previewContent img {
    width: 100%;
    border-radius: 5px;
}

.media-selection-preview video, .previewContent video {
    width: 100%;
    border-radius: 5px;
}

.image-list, .video-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.close-badge {
    cursor: pointer;
    border-radius: 50px;
}

    .close-badge:hover {
        box-shadow: 1px 1px 5px #ccc;
        transition: 0.5s;
    }

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeInDown {
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeInUp {
    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.4s;
}

.delay-3 {
    animation-delay: 0.6s;
}

.delay-4 {
    animation-delay: 0.8s;
}

.icard-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-items: center;
    justify-content: center;
    grid-auto-flow: row;
    min-width: 300px;
}

.icard {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: #ccc 1px 1px 5px;
    min-width: 300px;
    animation-duration: 1s;
    animation-name: fadeInUp;
    cursor: pointer;
}

    .icard:hover {
        box-shadow: #bbb 2px 2px 8px;
        transition: ease 0.25s;
    }

    .icard .icard-title {
        font-size: 0.75rem;
        color: #bbb;
        padding: 10px 15px;
    }

    .icard .icard-content {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 5px 0 5px 0;
        padding: 10px 15px;
    }

        .icard .icard-content .icard-value {
            font-size: 3.5rem;
            color: #222020;
            display: flex;
            align-items: baseline;
            font-weight: bold;
        }

            .icard .icard-content .icard-value span.icard-value-mu {
                font-size: 3rem;
            }

        .icard .icard-content .icard-value-ref {
            font-size: 1.5rem;
            color: #bbb;
            align-self: baseline;
            font-weight: lighter;
        }

            .icard .icard-content .icard-value-ref::before {
                content: '/';
                font-size: 1.5rem;
                margin-left: 0.5rem;
            }

    .icard .icard-footer {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-top: 1px solid #eee;
        font-size: 0.75rem;
        color: #808080;
        padding-top: 15px;
        text-align: center;
    }

.load-items-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
}

.load-item {
    display: flex;
    flex-direction: column;
    cursor: default;
}

    .load-item .load-item-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        box-shadow: #ccc 1px 1px 5px;
        border-radius: 5px;
        padding: 10px;
    }

.load-item-header .load-item-header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-right: 15px;
}

.load-item-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 3px;
    color: var(--main-color);
}

.load-item-subtitle {
    font-weight: lighter;
    font-size: 0.8rem;
}

.load-item-header-value {
    display: flex;
    align-items: center;
    padding: 5px;
}

.load-item-header-supvalue {
    display: flex;
    justify-content: center;
}

.load-item-value {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.load-item-header-buttons {
    display: flex;
    justify-self: end;
    justify-content: space-evenly;
}

    .load-item-header-buttons button {
        border-radius: 50px;
        font-size: 0.6rem;
        border: none;
        width: 25px;
        height: 25px;
        margin: 2px
    }

        .load-item-header-buttons button:hover {
            background-color: var(--main-color);
            color: white;
            transition: 0.3s;
        }

        .load-item-header-buttons button:disabled:hover {
            background-color: #ddd;
        }

.load-item-body {
    border-top: 1px solid #ddd;
    background-color: white;
    font-size: 0.8rem;
}

.load-item-body-rows {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row-gap: 5px;
    margin-top: 5px;
}

.load-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.load-item-row-key {
    display: flex;
    align-items: center;
    gap: 5px;
}

.load-item-row-value {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    font-weight: bold;
    min-width: 35px;
    text-align: right;
}

.load-item-row-valuesection {
    display: flex;
    flex-direction: row;
}

.load-item-row-btns {
    display: flex;
    justify-content: end;
}

    .load-item-row-btns button {
        border-radius: 50px;
        border: none;
        font-size: 0.7rem;
        padding: 3px;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

.load-item-deletebtn:hover {
    color: white;
    background-color: #ff0000;
}
